<span>Edit Picture {{id}}:</span>
<hr>
<form action="/gallery/{{id}}?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
  Author:<br>
  <input type="text" name="author" value={{author}}><br>
  Link:<br>
  <input type="text" name="link" value={{link}}><br>
  Description:<br>
  <input type="text" name="description" value={{description}}><br>
  <br><br>
  <input type="submit">
</form>

{{#if error}}
  <p>{{error}}</p>
{{/if}}
<hr>