<link rel="stylesheet"  href="/static/css/styles.css">
<table class="tg">
  <tr>
    <th class="tg-title">_ARCHITEKT </th>
    <th class="tg-mission">      </th>
    <th class="tg-mission">Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme</th>
  </tr>
</table>
<img src="{{picture.1.link}}" alt="{{description}}">

{{#each picture}} {{!-- iterates over the array of books --}}
  <div class="picture">
    <h3>Author: {{author}}</h3>
    <a href="/gallery/{{id}}"><img src="{{link}}" alt="{{description}}"></a>
    <h4>Description: {{description}}</h4>
  </div>
<form action="/gallery/{{id}}/edit" method="GET" >
 <input type="submit" value="Edit Picture">
</form>
<form action="/gallery/{{id}}?_method=DELETE" method="POST" >
 <input type="submit" value="Remove Picture">
</form>

{{/each}}
<form action="/gallery/new" method="GET" >
   <input type="submit" value="New Picture">
</form>