<link rel="stylesheet"  href="/static/css/styles.css">
<div id="picture_page">
  <div id= "header">
      <div id="top">
        <div id="logo">_ARCHITEKT</div>
        <div id="statement">Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.</div>
      </div>
  </div>

  <div id="picture_section">

    <div id="selected_picture">
        <h3>{{featured.author}}</h3>

        <a href="/gallery/{{featured.id}}">
          <img src="{{featured.link}}" alt="{{featured.description}}">
        </a>

        <h4>{{featured.description}}</h4>
    </div>
    <div id="more_pictures">
{{#each allPhotos}}
      <a href="/gallery/{{id}}">
          <img height=10% src="{{link}}">
        </a>
        <h4>Title</h4>
        <br>
{{/each}}
    </div>
  </div>


</div>

{{#if isOwner}}
<form action="/gallery/{{id}}/edit" method="GET" >
   <input type="submit" value="Edit Picture">
</form>
<form action="/gallery/{{id}}?_method=DELETE" method="POST" >
   <input type="submit" value="Remove Picture">
</form>
{{/if}}
{{#unless loggedIn}}
<a href="/user/login"><button>Log In</button></a>
<a href="/user/login"><button>Register</button></a>
{{/unless}}
<a href="/gallery"><button>Back</button></a>