<link rel="stylesheet"  href="/static/css/styles.css">
<div id="picture_page">
  <div id= "header">
      <div id="top">
        <div id="logo">_ARCHITEKT</div>
        <div id="statement">Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.</div>
      </div>
  </div>

  <div id="picture_section">

    <div id="selected_picture">
        <h3>{{featured.author}}</h3>

        <a href="/gallery/{{featured.id}}">
          <img class = "picture_detail" src="{{featured.link}}" alt="{{featured.description}}">
        </a>

        <h4>{{featured.description}}</h4>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div id="allphotos_container">
      {{#each allPhotos}}
          <div class="containter_more_pictures">
            <a href="/gallery/{{id}}">
                <img class = "more_pictures" src="{{link}}">
              </a>
              <h4>{{author}}</h4>
              <br>
              <br>
              <br>
          </div>
      {{/each}}
    </div>

  </div>


</div>

{{#if featured.isOwner}}
<a href="/gallery/{{featured.id}}/edit"><button>Edit Picture</button></a>
<form action="/gallery/{{featured.id}}?_method=DELETE" method="POST" >
   <input type="submit" value="Remove Picture">
</form>
{{/if}}
{{#unless featured.loggedIn}}
<a href="/user/login"><button>Log In</button></a>
<a href="/user/login"><button>Register</button></a>
{{/unless}}
<a href="/gallery"><button>Back to gallery</button></a>